<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >
    

<!-- begin appender section --> 
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ z} [%t] %-5p %C{36} - %m%n" />
        </layout>
    </appender>

    <appender name="JETTY_LOG_FILE" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
                <param name="FileNamePattern" value="/var/log/solr/jetty.%d{yyyy-MM-dd}.gz" />
                <param name="ActiveFileName" value="/var/log/solr/jetty.log" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ z} [%t] %-5p %C{36} - %m%n" />
        </layout>
    </appender>
 
    <appender name="ZK_LOG_FILE" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
                <param name="FileNamePattern" value="/var/log/solr/zookeeper.%d{yyyy-MM-dd}.gz" />
                <param name="ActiveFileName" value="/var/log/solr/zookeeper.log" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ z} [%t] %-5p %C{36} - %m%n" />
        </layout>
    </appender>
 
    <appender name="SOLR_LOG_FILE" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
                <param name="FileNamePattern" value="/var/log/solr/solr.%d{yyyy-MM-dd}.gz" />
                <param name="ActiveFileName" value="/var/log/solr/solr.log" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ z} [%t] %-5p %C{36} - %m%n" />
        </layout>
    </appender>
<!-- end appender section --> 


<!-- begin logger section --> 
    <!--  define where to send specific events  -->
    <logger name="org.eclipse" additivity="false">
	<level value="INFO" />
        <appender-ref ref="JETTY_LOG_FILE"/>
    </logger>
 
    <logger name="org.apache.zookeeper" additivity="false">
	<level value="INFO" />
        <appender-ref ref="ZK_LOG_FILE"/>
    </logger>
<!-- end logger section --> 


<!-- begin root section --> 
    <root>
        <priority value="INFO" />
    <!-- send other logging info to solr.log -->
        <appender-ref ref="SOLR_LOG_FILE" />
    </root>
<!-- end root section --> 

</log4j:configuration>
